body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 193, 200);
    color: rgb(170, 24, 24);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: cursive;
    border-color: orangered;
}